
body {
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div{
   background-color : white;
}

#parents {

    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

#button{
   position: relative;
 }

#inputbox{
}

#header{
   width : 30%;
}

 h2{
   text-align:center;
 }

  .form-control {
    font-size: 16px;
    font-weight : bold;
    color : #707070;
	  height: auto;
	  padding: 10px;
   
  }

  input {

    display: inline-block;
    width: 30%;
    padding: 40px;
    margin: 5px;
    background-color: #f3f7f9;
    margin-bottom: 15px;
    border: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(101, 119, 134);
  }

button {
 
display: inline-block;
width: 30%;
padding: 13px;
margin: 5px;
background:#1a97f0; 
font-size:16px; border-radius:10rem;
font-weight : bold;
color: white;
border:0;

}
      
      